table {
    margin: auto;
}

tr{
    width: 100%;
}

td {
    border: 2px solid;
    text-align: center;
    padding: 15px;
    display: inline-block;
    width: 100%;
    margin: auto;
}

.author, .text{
    background-color:lavender;
}

.quoteHeader{
    background-color:black;
    color: white;
}